@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GameNight Result Tracker</h1>
    <p class="lead">GameNight Result Tracker is a free web framework for tracking game scores.</p>
    <p><a href="" class="btn btn-primary btn-lg">Šalata Hall of Fame &raquo;</a></p>
</div>
<br />
<br />
<br />
<div>
    <a class="btn btn-default" @Html.ActionLink("Burnout Paradise", "About")</a>
</div>
<br />
<br />
<div>
    <a class="btn btn-default" @Html.ActionLink("Pro Evolution Soccer", "Contact")</a>
</div>
<br />
<br />
